
obj/x64/Release/BadmanInjector.Properties.Resources.resources
obj/x64/Release/BadmanInjector.MainForm.resources
obj/x64/Release/Badman Injector.pdb
obj/x64/Release/Badman Injector.exe
obj/x64/Release/Badman Injector.csproj.GenerateResource.cache
obj/x64/Release/Badman Injector.csproj.FileListAbsolute.txt
obj/x64/Release/Badman Injector.csproj.CoreCompileInputs.cache
bin/x64/Release/Badman Injector.pdb
bin/x64/Release/Badman Injector.exe.config
bin/x64/Release/Badman Injector.exe
